include layout/_head
include layout/_navbar
include layout/_header
.container
	.row.row-content
		.col-xs-12.col-sm-3.col-sm-push-9
			p(style="padding:20px;")
			h3(align="center") Our Lipsmacking Culinary Creations
		.col-xs-12.col-sm-9.col-sm-pull-3
			h2 Uthapizza
			p A unique combination of Indian Uthappam (pancake) and Italian pizza, topped with Cerignola olives, ripe vine cherry tomatoes, Vidalia onion, Guntur chillies and Buffalo Paneer.
			p
				a(href="#n") More &raquo;
	.row.row-content
		.col-xs-12.col-sm-3
			p(style="padding:20px;")
			h3(align="center") This Month's Promotions
		.col-xs-12.col-sm-9
			h2 Weekend Grand Buffet
			p Featuring mouthwatering combinations with a choice of five different salads, six enticing appetizers, six main entrees and five choicest desserts. Free flowing bubbly and soft drinks. All for just $19.99 per person
			p
				a(href="#n") More &raquo;
	.row.row-content
		.col-xs-12.col-sm-3.col-sm-push-9
			p(style="padding:20px;")
			h3(align="center") Meet our Culinary Specialists
		.col-xs-12.col-sm-9.col-sm-pull-3
			h2 Alberto Somayya
			h4 Executive Chef
			p Award winning three-star Michelin chef with wide International experience having worked closely with whos-who in the culinary world, he specializes in creating mouthwatering Indo-Italian fusion experiences.
			p
				a(href="#n") More &raquo;
include layout/_footer
include layout/_scripts
