header.jumbotron
	.container
		.row.row-header
			.col-xs-12.col-sm-8
				h1 Ristorante con Fusion
				p(style="padding:40px;")
				p We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations will tickle your culinary senses!
			.col-xs-12.col-sm-4